watch_file .tool-versions

asdf_has java || asdf plugin-add java
asdf_has gradle || asdf plugin-add gradle https://github.com/rfrancis/asdf-gradle.git
asdf install | sed '/is already installed/d'
use asdf

# Set JAVA_HOME
export JAVA_HOME="$(dirname "$(dirname "$(realpath "$(asdf which java)")")")"
