[versions]
junitVersion = "5.10.1"
checkstyleVersion = "10.12.6"
aeronVersion = "1.42.1"
sbeVersion = "1.29.0"
agronaVersion = "1.19.2"
slf4jVersion = "2.0.9"
logbackVersion = "1.4.14"
picocliVersion = "4.7.5"
jlineVersion = "3.24.1"
picoJlineVersion = "4.7.5"
mockitoVersion = "5.7.0"
junitPlatformLauncherVersion = "1.10.1"
aeronClusterStandbyVersion = "1.42.0"

[libraries]
aeron = { group = "io.aeron", name = "aeron-all", version.ref = "aeronVersion" }
agrona = { group = "org.agrona", name = "agrona", version.ref = "agronaVersion" }
sbe = { group = "uk.co.real-logic", name = "sbe-tool", version.ref = "sbeVersion" }
jupiterEngine = { group = "org.junit.jupiter", name = "junit-jupiter-engine", version.ref = "junitVersion" }
jupiterApi = { group = "org.junit.jupiter", name = "junit-jupiter-api", version.ref = "junitVersion" }
checkstyle = { group = "com.puppycrawl.tools", name = "checkstyle", version.ref = "checkstyleVersion" }
slf4j = { group = "org.slf4j", name = "slf4j-api", version.ref = "slf4jVersion" }
logback = { group = "ch.qos.logback", name = "logback-classic", version.ref = "logbackVersion" }
picocli = { group = "info.picocli", name = "picocli", version.ref = "picocliVersion" }
mockito-core = { group = "org.mockito", name="mockito-core", version.ref = "mockitoVersion"}
mockito-junit = { group = "org.mockito", name="mockito-junit-jupiter", version.ref = "mockitoVersion"}
jline = { group = "org.jline", name = "jline", version.ref = "jlineVersion" }
picoJline = { group = "info.picocli", name = "picocli-shell-jline3", version.ref = "picoJlineVersion" }
junitPlatformLauncher = { group = "org.junit.platform", name = "junit-platform-launcher", version.ref = "junitPlatformLauncherVersion" }
clusterStandby = { group = "io.aeron", name = "aeron-cluster-standby", version.ref = "aeronClusterStandbyVersion" }

[bundles]
testing = ["junitPlatformLauncher", "jupiterApi", "jupiterEngine", "mockito-core", "mockito-junit"]